version: '3.8'

services:
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: .docker/backend/Dockerfile
    volumes:
      - ./backend/app:/usr/src/backend/app
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://user1:123456@db:5432/green-retail
  db:
    image: postgres:15.3
    container_name: my-database
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=user1
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=green-retail
    volumes:
      - ./postgres:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  postgres_data:
